src/main/java/m_java_Schema/employee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <!-- Define empId element -->
        <xs:element name="empId" type="xs:string"/>
        <!-- Define empName element -->
        <xs:element name="empName" type="xs:string"/>
        <!-- Define empSal element -->
        <xs:element name="empSal" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
