src/main/java/m_java_Schema/student.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="student">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="studentId" type="xs:int" />
					<xs:element name="studentFirstName" type="xs:string" />
					<xs:element name="studentMiddleName" type="xs:string" />
					<xs:element name="studentLastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
	</xs:element>
</xs:schema>